body {
		font-family: sans-serif;
		background-color: white;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: flex-start;
		padding-top: 10%;
}

h3, h4 {
	text-align: left;
	margin-left: 10%;
 margin-bottom: 20px;
}

#image {
	width: 100%;
	height: 100%;
}

body img {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#commentSection {
	display: flex;
	flex-direction: column;
 align-items: flex-start;
 padding-left: 12%;
}

.comment {
 display: flex;
 flex-direction: row;
 align-items: flex-start;
 justify-content: center;
 margin-top: 5px;
 margin-bottom: 5px;
}

.avatar {
 border: 1px solid gray;
 border-radius: 50%;
 line-height: 25px;
 font-size: 12px;
 height: 25px;
 width: 25px;
}

.text {
 line-height: 25px;
 padding-left: 10px;
 font-size: 12px;
}

#initials {
 width: 40px;
}

input, button {
 border: 1px solid gray;
 border-radius: 5px;
 padding: 5px;
 background-color: white;
}

