* {
	box-sizing: border-box; /* Used universal selector so that all elements will now include padding & border in calculating box size */
}
html {
	font-size: 1.25rem; /* 20px on most screens; using REM to allow for browser accessiblity (so people can adjust font size themselves if they need to) */
}
header {
	background-color: #294969;
	color: ghostwhite;
	padding-top: 10px;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 10px;
/*	A short-hand way to accomplish the padding atop would be through the following where the order goes as follows: Top Right Bottom Left > TRBL
	padding: 10px 15px 15px 10px
*/
	
/* Alternate Styling
	border-style: dashed solid;
	border-width: 16px 24px 8px 12px;
	border-color: tomato orchid olivedrab;
*/
	
/*	A short-hand for the border: */
	border: 12px solid #ffa949;
	border-bottom-color: #cf7919; /* Note: if this were to go before 'border: 12px...' then the cascade would not allow this color to display */
	
/* Keep in mind that all of the previous traits for padding & border also apply to margin	*/
/*	margin: 20px 5px;*/
}
aside img, #bio { /* added #bio so as to mitigate & comply with the DRY coding principle */
	width: 100%;
	max-width: 600px;
	height: auto; /* Since image is in landscape; you must keep height as auto to prevent distortion */
	
}
#bio {
	padding: 2rem;
	border: 5px solid tomato;
	background-color: mistyrose;
}
	
/* This would be incredibly inefficient & would break the developer rule of 'Dont Repeat Yourself'; DRY
article {
	margin: 8px;
}
aside {
	margin: 8px;
}
footer {
	margin: 8px;
}
*/
article, aside, footer {
	margin: 8px;
}
footer {
	width: 200px;
	padding: 4px;
	border: 2px solid #ffa949;
	margin: 30px auto 15px;
	color: #294969;
	font-size: .8rem;
	text-align: center;
}
