body{
  font-family: Verdana;
  text-align: center;
}

div{
  margin: 40px;
}

h1{
  color : darkslategray;
}

h4{
  font-weight: bold;
  font-family: Lucida Sans;
}

img{
  width: 40%;
  border-radius: 10%;
}

input{
  margin: 0 auto;
  margin-top : 15px;
  padding : 10px;
  display: block;
}

li{
  text-align: left;
  padding: 5px;
}
