* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  background-color: #F9FAFE;
}

h2 {
  font-size: 115%;
  padding: 10px 40px;
  margin-bottom: 20px;
  border-radius: 4px;
  background-color: #62D76B;
  color: #FFF;
  text-align: center;
}

.main-container {
  margin: 5% auto;
  width: 80%;
  max-width: 650px;
}

ul {
  list-style-type: none;
  background-color: #FFF;
  width: 100%;
  border: 2px solid #EEEEEE;
  padding: 20px;
  border-radius: 6px;
  font-size: 100%;
}

li {
  margin-left: 10px;
}

.entry-textarea {
  height: 200px;
  display: block;
  margin: 3% auto;
}

.title {
  background-color: #3E416D;
  color: #FFF;
  padding: 10px 15px;
  border-radius: 8px;
  margin: 10px;
  font-size: 110%;
}
