header {
    background-color: rgba(116, 104, 184, 0.533);
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 10%;
}
header p {
     font-size: 1.25rem; /* Remember: rem is used so that users can adjust text size */
}
body {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    color: #454959;
    font-weight: 300;
    line-height: 1.5; /* This is to make things more legible with all devices screen sizes */
}

/* Text properties */
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 2.5rem;
}
h3 {
    font-size: 2rem;
}
p {
    font-size: 1rem;
}
@media 
