body {
    font-family: "Arial"; 
  }
  
  .main-image {
      border: solid 5px black;
      border-radius: 50%;
  }
  
  h1 {
      background-color: #e2e2e2;
      padding: 5px;
  }
  
  h2 {
    
  }
  
  .section-title {
      text-transform: capitalize;
  }