/* Universal Selector
* {
	margin: 0;
	padding: 0;
	color: red;
} */

html {
	font-size: 100%; /* 100% = 16px on most screens & allows users to change font-size rather than being stuck at a set pixel size*/
}
h1 {
	font-size: 4em;
/*	In the case of margin-bottom, it calculated the margin as 120px rather than 30px because of the above 4em*/
	margin-bottom: 1.5em;
/*	If you'd like to ignore parent multiplicative factor, simply use 'rem' instead of 'em'.*/
	color: yellow;
}
/*Target every paragraph element in index.html*/


/* This would be an example of cascading class selectors 
#heading {
	color: white;
}
.heading {
	color: black;
}
*/


p {
	color: olive;
	font-size: 26px;
}
header {
	background-color: orange;
	width: 100%;
	margin-left: 0%;
}
header p {
	background-color: snow;
	border-bottom: 1px solid gray;
}
#header-box {
	width: 50%;
	background-color: tomato;
}
img {
	width: 100%;
}
ol li {
	letter-spacing: 3px;
	color: tomato;
}
ol li:first-child {
	font-weight: bold;
}
footer {
	background-color: lightcoral;
}

/* The following would apply if a change in the appearance of a link is wanted */
/*the elements past the colon are considered pseudo-classes*/
a:link {
	color: darkblue;
 	background-color: peachpuff;
	text-decoration: none;
}
a:visited {
	color: seagreen;
}
/*This pseudo-class works only with a mouse; touchscreen would not be able to see the underline*/
a:hover {
	text-decoration: underline;
}
img:hover {
	border: 8px solid blue;
	border-radius: 8px;
}
/*"focus" pseudo-class useful for users navigating using keyboard instead of mouse, makes it obvious when selecting a link with tab key*/
a:focus {
	color: white; /* rgb(255, 255, 255) */
	background-color: rgba(255, 165, 0, 0.5); /* rgb(255, 165, 0) */
}

/*Target id="education" index.html <section>*/
#education {
	border: 3px solid red;
}
#education h3 {
	font-family: Arial, sans-serif;
	font-size: 32px;
	background-color: rgb(150, 200, 250);
}
#proud {
	font-size: 48px;
}

/*Good idea to do when not sure if selector ID will be unique or not*/
.skills-list {
	background-color: aliceblue
	padding: 36px;
}
.top-skill {
	font-weight: bold;
	background-color: teal;
	color: mustardyellow;
}
.date {
	border: 2px solid steelblue;
	border-radius: 12px;
	padding: 6px;
}
.special {
	text-transform: uppercase;
	background-color: mustardyellow;
}

