/* Web Fonts ----------------------- */
@font-face {
	font-family: 'Abolition Regular';
	src: url(../fonts/abolition-regular-webfont.woff') format('woff');
}

/* Base Styles --------------------- */
* {
  box-sizing: border-box;
}
html {
  font-size: 1.25em; /* 20px on most screens */  
}
body {
	/* font-family: "Gotham Rounded"; Not web-safe typeface so needs to be installed onto machine first to be shown */
	color: rgba(255,255,255,.75);
	margin: 1rem;
/*Another way to write what's below: 
	font: 300 100%/1.5 'League Gothic', sans-seriff; */
	font-family: 'League Gothic', sans-serif;
	font-weight: 300;
	line-height: 1.5;
/*	The following is an example of how to use a URL to inject an image into the background
	background-image: url(http://placekitten.com/200/300);
	
		Repeat-x would have the images repeat horizontally while repeat-y would have them repeat vertically; no-repeat would have no repetitions 
	background-repeat: no-repeat;
	
		Percentages would also work as they would change according to the size 		of the viewport but words work just fine as well 
	background-position: center bottom;
	background-size: 400px 600px; */
	
/*	The background element is made up of 8 other properties: background-image, -position, -size, -repeat, -attachment, -origin, -clip, -color. 
		Although there is a standard, preferred order to this property, any order is acceptable and should still work */
	background:
		url(../img/bear.jpg) /* image */
		center/cover /* position / size */
		no-repeat /* repeat */
		fixed /* attachment */
		padding-box /* origin */
		content-box /* clip */
		#454959; /* color */
/*	sidenote: I didn't modify the actual background image used, lucked out by it being a pretty low contrast image to begin with */
}
/*This changes the color of links to orange & removes their underline*/
a {
	color: #cc4e13;
	text-decoration: none;
}
h1, h2 {
/*Another way to shorten what's below:
	font: normal 100%/1.2 'Abolition Regular', impact, charcoal, sans-seriff; */
	font-family: 'Abolition Regular', Impact, Charcoal, sans-seriff;
	font-weight: normal;
	line-height: 1.2;
}
h1 {
	font-size: 4rem;
/* This is a good first attempt but need to use RGBA to low opacity/have more accurate colors
	text-shadow: -7px 3px 0 blue,
								-10px 6px 0 yellow; */
	text-shadow: 6px 6px 3px rgba(0,10,30,.3); /* 1px to the right, 2px down, 3px of blur; 0 red, 10 green, 30 blue, and 50% opacity */	
}
/*Anything that's displayed inside of the element below would be purely decorational; can't be selected, think of it as a background image*/
h1::after {
	content: '\2193';
	display: block;
}
h2 {
	font-size: 2.5rem;
}
h3 {
	font-size: 1.25rem;
}
img {
  width: 100%; /* responsive images */
/*	An alternate to below:
	border-radius: 50%;  This turns the image into a circle (or oval depending on image ratio) */
	border-radius: 15px; 
}


/* Main Styles --------------------- */
header {
	background: url(../img/mountains.jpg) 
		center / cover 
		no-repeat 
		#f3753b;
	background-blend-mode: multiply;
	padding: 10vh 1rem;
	margin: -1rem -1rem 1rem;
	color: white;
}
header, footer {
	text-align: center;
}
.title {
	letter-spacing: 1rem; /* equivalent to 20px; way too much */
	letter-spacing: .05rem;
}
main {
	hyphens: auto;
  max-width: 1000px;
  margin: 0 auto;
}
section {
  padding: 4rem 0;
  border-bottom: 1px dashed #9599a9;
}
#wildlife {
	padding: 20% 15%;
	border-top: 12px solid #f3753b;
	border-radius: 12px 12px 0 0;
	background-color: #454959;
	color: white;
	box-shadow: inset 0 0 40px 10px rgba(0,10,30,.8); /* inset makes the shadows go inside rather than outside the box; after inset 1st 0's hor. offset, ver. offset, blur, and ext. blur, respectively */
}
/*This is a descendant selector that changes the color of links inside of id='wildlife'*/
#wildlife a {
	color: #f7a27c;
}
.callout {
	display: block; /* Since a element is inline by default & styling options are more limited on inline elements */
/* Used margin: auto to center box in viewport & text-align: center to center text in the box */
	width: 250px;
	padding: .25rem 1rem;
	margin: 1rem auto;
	background-image: linear-gradient(to top, #cc4e13, papayawhip);
	color: white;
	text-align: center;
	font-size: 1.25rem;
/* The following is for rounding the corners of the box */
	border-radius: 20px/10px;
/*	Applying a box-shadow to a box with rounded corners also applies to the corners */
	box-shadow: 3px 4px 5px rgba(0,10,30,.8);
/*	The following's for a gradient of the background image; as can be seen, the gradient starts off the really solid orange color but then gradually works its way to the papayawhip on the ends of the button.  */
	background-image: linear-gradient(170deg, #cc4e13 0%, firebrick 25%, rgba(180,80,20,.8) 100%);
}

/* Media Queries ------------------- */

